@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-white">Uredite svoj profil</h1>

<div>
    <h4 class="text-white">Promenite Vaša podešavanja</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
