@page
@model Taste.Pages.Customer.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-warning text-center">Porudžbina uspešno obavljena!</h1>
        <p class="text-white">Vaš broj porudžbine je : @Model.orderId</p> <br /><br />
        <img style="width:50%"  src="~/images/png-clipart-waiter-diner-retro-style-others-miscellaneous-hand.png"/>
    </div>
</div> 

