@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Pristup odbijen";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nemate dovoljno privilegija da pristupite ovoj stranici!</p>
</header>
