@page
@model LockoutModel
@{
    ViewData["Title"] = "Blokirani ste";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ovaj nalog je blokiran, molimo pokušajte kasnije.</p>
</header>
