@page
@model LogoutModel
@{
    ViewData["Title"] = "Odjava";
}

<header>
    <h1 class="text-white">@ViewData["Title"]</h1>
    <p class="text-white">Uspešno ste se odjavili sa aplikacije.</p>
</header>