@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrda promene šifre";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaša šifra je resetovana. Molimo <a asp-page="./Login">Vas prijavite se ponovo</a>.
</p>
