.form-div {
    border: 5px solid rgba(30, 28, 28, 0.89);
    border-radius: 30px 10px;
    position: absolute;
    z-index: 2;
    width: 50%;
    height: auto;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px 20px;
}

form {
    border-radius: 30px 0px;
}

.form-social-login {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 20px 20px;
}

    .form-social-login button {
        border-radius: 10px 5px;
    }

.button-confirm {
    border-radius: 10px 5px;
    background-color: rgba(30, 28, 28, 0.89) 
}

#account input {
    border-radius: 10px 5px;

}

#forgot-password {
    color: rgba(30, 28, 28, 0.89) !important;
}

.img-waitress {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

h1, h3 {
    color: rgba(30, 28, 28, 0.89) !important;
}
